*{
    background-color: red;
}
.irodamimg{
    width: 200px;
    margin-left: 100px;
    margin-top: 70px;
    border-radius: 10px;
}
.irodamh1{
    margin-left: 340px;
    margin-top: -250px;
    color: wheat;
}
.irodamh2{
    margin-left: 340px;
    font-size: 25px;
    color: wheat;
}
.irodamh3{
    margin-left: 340px;
    font-size: 25px;
    color: wheat;
}
.irodamimg1{
    width: 200px;
    margin-left: 320px;
    margin-top: 20px;
    border-radius: 10px;
}
.irodamimg2{
    margin-left: 600px;
    width: 220px;
    margin-top: -140px;
    border-radius: 10px;
}
.irodamimg3{
    margin-left: 860px;
    margin-top: -100px;
    width: 250px;
    border-radius: 10px;
}